QDRANT_HOST=
QDRANT_PORT=
QDRANT_API_KEY=
QDRANT_USE_HTTPS=

MONGODB_HOST=
MONGODB_USER=
MONGODB_PASS=
MONGODB_PORT=

COHERE_API_KEY=
CHUNK_SIZE=
EMBEDDING_DIM=

TEMPORAL_HOST=
TEMPORAL_API_KEY=
TEMPORAL_PORT=